.error404 {
  .bt-main-content-ss {
    padding: 50px 0 80px;
    min-height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    @media(max-width: $break-tl) {
      min-height: calc(100vh - 112px);
    }
    .bt-404-error {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: $accent-font;
      h2 {
        margin: 0;
        font-size: 200px;
        letter-spacing: 15px;
        font-weight: 600;
        line-height: 1;
        color: $color-primary;
      }
      h3 {
        margin: 0;
        font-size: 35px;
        letter-spacing: 0.5px;
        line-height: 1.3;
        color: $color-primary;
        font-weight: 500;
        text-align: center;
      }
      p {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1.57;
        color: $color-text;
        max-width: 330px;
        text-align: center;
        margin-top: 20px;
        padding-top: 25px;
        position: relative;
        display: flex;
        justify-content: center;
        &::before {
          content: "";
          background: #bfbfbf;
          width: 190px;
          height: 2px;
          position: absolute;
          top: 0;
        }
      }
      a {
        color: $color-primary;
        background-color: transparent;
        font-weight: 500;
        border: 1px solid $color-primary;
        letter-spacing: 0.5px;
        @media (min-width: $break-sm) {
          &:hover {
            background-color: $color-primary;
            color: #fff;
          }
        }
      }
    }
    @media (max-width: $break-tl) {
      padding: 30px 0 60px;
    }
    @media (max-width: $break-sm) {
      .bt-404-error {
        h2 {
          font-size: 140px;
        }
        h3 {
          font-size: 30px;
        }
        p {
          margin-bottom: 20px;
          margin-top: 15px;
          padding-top: 15px;
        }
      }
    }
    @media (max-width: $break-xs) {
      .bt-404-error {
        h2 {
          font-size: 100px;
          letter-spacing: 8px;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
