@keyframes effectFlash {
	50%,
	from,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

@keyframes effectSpin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes effectRotateAnimation {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}

	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}

@keyframes effectBgScrollVertical {
	from {
		background-position: center center;
	}

	25% {
		background-position: center 25%;
	}

	75% {
		background-position: center 75%;
	}

	to {
		background-position: center center;
	}
}

@keyframes effectBgScrollHorizontal {
	from {
		background-position: center center;
	}

	25% {
		background-position: 60% center;
	}

	75% {
		background-position: 40% center;
	}

	to {
		background-position: center center;
	}
}

.bt-bg-scroll-vertical-effect {
	@media (min-width: 1025px) {
		animation: effectBgScrollVertical 100s infinite;
	}
}

.bt-bg-scroll-horizontal-effect {
	@media (min-width: 1025px) {
		animation: effectBgScrollHorizontal 70s infinite;
	}
}

@keyframes effectImageZoom {
	from {
		transform: sscale(1);
	}

	50% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

@keyframes effectMoveHorizontal {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	50% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes effectMoveHorizontalCenter {
	0% {
		-webkit-transform: translateX(-50%) translateZ(0);
		transform: translateX(-50%) translateZ(0);
	}

	50% {
		-webkit-transform: translateX(-50%) translate3d(-10px, 0, 0);
		transform: translateX(-50%) translate3d(-10px, 0, 0);
	}

	100% {
		-webkit-transform: translateX(-50%) translateZ(0);
		transform: translateX(-50%) translateZ(0);
	}
}

.bt-effect-move-horizontal {
	animation: effectMoveHorizontal 2s linear infinite;
}

.bt-effect-move-horizontal-center {
	animation: effectMoveHorizontalCenter 2s linear infinite;
}

@keyframes effectVibrateImages {
	0% {
		transform: translateY(8px);
	}

	50% {
		transform: translateY(4px);
	}

	100% {
		transform: translateY(8px);
	}
}

@keyframes effectVibrateImagesSink {
	100% {
		transform: translateY(8px);
	}
}

.bt-images-vibrate-effect {
	img {
		animation-name: effectVibrateImagesSink, effectVibrateImages;
		animation-duration: 0.3s, 1.5s;
		animation-delay: 0s, 0.3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
	}
}

@-webkit-keyframes effectPlayButton {
	0% {
		-webkit-box-shadow: 0 0 0 0 #fff;
	}

	70% {
		-webkit-box-shadow: 0 0 0 20px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes effectPlayButton {
	0% {
		box-shadow: 0 0 0 0 #fff;
	}

	70% {
		box-shadow: 0 0 0 20px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

@-webkit-keyframes effectPlayButton2 {
	0% {
		-webkit-box-shadow: 0 0 0 0 $color-accent;
	}

	70% {
		-webkit-box-shadow: 0 0 0 20px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes effectPlayButton2 {
	0% {
		box-shadow: 0 0 0 0 $color-accent;
	}

	70% {
		box-shadow: 0 0 0 20px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

.bt-play-btn-effect {
	.elementor-icon-box-icon {
		-webkit-animation: effectPlayButton 2s infinite;
		animation: effectPlayButton 2s infinite;
		border-radius: 50%;

		> a {
			display: block;
		}
	}
	&.elementor-widget-icon {
		.elementor-icon {
			-webkit-animation: effectPlayButton2 2s infinite;
			animation: effectPlayButton2 2s infinite;
			border-radius: 50%;
		}
	}
}

.bt-play-btn-effect2 {
	.elementor-icon-box-icon {
		-webkit-animation: effectPlayButton2 2s infinite;
		animation: effectPlayButton2 2s infinite;
		border-radius: 50%;

		> a {
			display: block;
		}
	}
	&.elementor-widget-icon {
		.elementor-icon {
			-webkit-animation: effectPlayButton2 2s infinite;
			animation: effectPlayButton2 2s infinite;
			border-radius: 50%;
		}
	}
}
/* button hover */
.bt-button-hover {
	transition: all 0.3s ease;
	@media (min-width: $break-sm) {
		&:hover {
			background-image: linear-gradient(90deg, transparent 25%, rgba(233, 233, 233, 0.39) 50%, transparent 75%);
			background-size: 200% 100%;
			animation: shimmer 1.5s infinite linear;
		}
	}
}
/* animation load card */
@keyframes shimmer {
	0% {
		background-position: 100%;
	}
	100% {
		background-position: -100%;
	}
}
.__bt-animation-loading-card {
	pointer-events: none;
	background-color: #e9e9e9;
	color: #e9e9e9;
	background: linear-gradient(90deg, #e9e9e9 25%, #c5c5c5 50%, #e9e9e9 75%);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite linear;
}
/* heading animation */
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes ZoomIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.bt-word,
.bt-letter {
	display: inline-block;
}

.bt-letter {
	opacity: 0;
	transform: translateX(20px);

	.bt-animation-right & {
		animation: fadeInRight 0.5s ease forwards;
	}
	.bt-animation-left & {
		animation: fadeInLeft 0.5s ease forwards;
	}
	.bt-animation-up & {
		animation: fadeInUp 0.5s ease forwards;
	}
	.bt-animation-down & {
		animation: fadeInDown 0.5s ease forwards;
	}
	.bt-animation-zoom & {
		animation: ZoomIn 0.5s ease forwards;
	}
}
