.bt-site-footer {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: $color-primary;
  padding: 30px 0;
  .bt-copyright a {
    color: #fff;
  }
}
.elementor-location-footer {
  .elementor-element {
    .elementor-icon-list-items {
      li.elementor-icon-list-item {
        a {
          &:hover {
            color: $color-accent;
            span {
              color: $color-accent;
            }
          }
        }
      }
    }
  }
}
.elementor-element {
  &.bt-footer-wellness {
    .bt-elwg-switcher {
      .bt-dropdown {
        .bt-has-dropdown {
          ul.sub-dropdown {
            max-width: 100%;
            width: 100%;
            li {
              a {
                padding: 11px 12px;
              }
            }
          }
        }
      }
    }
    .bt-form-newsletter_wrapper{
      .bt-form-newsletter{
        .gform-body{
          input[type=email]{
            border-color: rgba(255, 255, 255, 0.10);
            background: transparent;
          }
        }
        .gform_footer{
          &::after {
            border: 2px #fff solid;
            border-top: 2px transparent solid;
          }
          input[type=submit]{
            color: #fff !important;
          }
        }
      }
    }
  }
  &.bt-footer-kid-fashion{
    .bt-form-newsletter_wrapper{
      .bt-form-newsletter{
        .gform-body{
          input[type=email]{
            border-color: rgba(255, 255, 255, 0.10);
            background: transparent;
            min-width: 400px;
            @media (max-width: 1450px) {
              min-width: auto;
            }
          }
        }
        .gform_footer{
          &::after {
            border: 2px #fff solid;
            border-top: 2px transparent solid;
          }
          input[type=submit]{
            color: #fff !important;
          }
        }
      }
    }
  }
  &.bt-footer-bottom-kid-fashion{
    .bt-elwg-switcher {
      .bt-dropdown {
        .bt-has-dropdown {
          line-height: 26px;
        }
      }
    }
  }
  &.bt-footer-outdoor-living{
    .bt-form-newsletter_wrapper{
      .bt-form-newsletter{
        .gform-body{
          input[type=email]{
            min-width: 400px;
            @media (max-width: 1450px) {
              min-width: auto;
            }
          }
        }
      }
    }
  }
}
