.bt-style-reponsive-nav {
  > a {
    @media (min-width: 1025px) and (max-width: 1199.98px) {
      font-size: 18px;
    }
  }

  &:not(:last-child) {
    > a {
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        margin-inline-end: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
      }
    }
  }

  &:not(:first-child) {
    > a {
      @media (min-width: 1025px) and (max-width: 1199.98px) {
        margin-inline-start: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
      }
    }
  }
}
nav .elementor-nav-menu .sub-arrow {
  margin-block-start: -5px;
}

.bt-primary-menu-wrapper,
.elementor-widget-n-menu .e-n-menu-item,
.elementor-widget-bt-mobile-menu {
  .menu-item span,
  .elementor-heading-title,
  .elementor-image-box-title a,
  .elementor-icon-list-text {
    position: relative;
    display: inline-flex;
    flex-direction: column;
  }
  .elementor-widget-image-box {
    position: relative;
    .elementor-image-box-img a:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  sup {
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: $color-accent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    transform: translate(50%, -100%);
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      inset-inline-start: 10px;
      border: 4px solid $color-accent;
      border-bottom-color: transparent !important;
      border-inline-end-color: transparent !important;
      border-inline-end-width: 7px;
      border-inline-start-width: 0;
    }
    &.red {
      background: $color-red;
      &:before {
        border-color: $color-red;
      }
    }
    &.orange {
      background: $color-orange;
      &:before {
        border-color: $color-orange;
      }
    }
    &.green {
      background: $color-green;
      &:before {
        border-color: $color-green;
      }
    }
  }
}

.bt-site-header {
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  .bt-header-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .bt-logo-col {
    width: 20%;
  }
  .bt-primary-menu-col {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .bt-site-logo {
    height: 98px;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      line-height: 0;
      padding: 10px 0;
      img {
        max-width: 183px;
        width: 100%;
        height: auto;
      }
    }
  }
  .bt-primary-menu {
    .bt-page-menu-wrap,
    .bt-primary-menu-container {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .current_page_item,
        .current-menu-item {
          a {
            color: $color-accent;
          }
        }
        a {
          display: inline-block;
          font-family: $primary-font;
          color: $color-primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 130%;
          &:hover {
            color: $color-accent;
          }
        }
        .page_item_has_children,
        .menu-item-has-children {
          position: relative;
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
            }
          }
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &.bt-align-left {
              left: 0;
              right: auto;
            }
            &.bt-align-right {
              left: auto;
              right: 0;
            }
            li:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            .current_page_item,
            .current-menu-item {
              a {
                color: $color-accent;
              }
            }
            a {
              display: block;
              color: $color-text;
              padding: 12px 15px;
              &:hover {
                color: $color-accent;
              }
            }
            ul {
              top: 0;
              left: 100%;
              &.bt-align-left {
                left: 100%;
                right: auto;
              }
              &.bt-align-right {
                left: auto;
                right: 100%;
              }
            }
          }
        }
      }
      > ul {
        display: flex;
        align-items: center;
        gap: 10px 20px;
        &#menu-all-pages-flat {
          flex-wrap: wrap;
          > li > a {
            min-height: unset;
          }
        }
        > li > a {
          min-height: 98px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .bt-menu-toggle {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    z-index: 5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.bt-is-hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.bt-menu-close {
      position: absolute;
      top: 26px;
      right: 22px;
    }
  }
  @media (max-width: $break-md) {
    .bt-logo-col {
      width: 70%;
    }
    .bt-primary-menu-col {
      width: 30%;
    }
    .bt-primary-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 263px;
      height: 100vh;
      overflow: auto;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      background: rgba(245, 245, 245, 0.95);
      -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.bt-is-active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .bt-page-menu-wrap,
      .bt-primary-menu-container {
        padding: 120px 30px 30px;
        ul {
          .page_item_has_children,
          .menu-item-has-children {
            .bt-toggle-icon {
              position: absolute;
              top: 9px;
              right: 0;
              width: 24px;
              height: 24px;
              cursor: pointer;
              background-image: url("../images/alt-arrow-down.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px 8px;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              &.bt-is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
              position: static;
              opacity: 1;
              visibility: visible;
              background: transparent;
              box-shadow: none;
              li {
                border-top: 1px solid #c4c4c4;
                &:not(:first-child) {
                  border-color: #c4c4c4;
                }
              }
              a {
                color: $color-primary;
              }
            }
          }
        }
        > ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          > li {
            width: 100%;
            &:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            > a {
              display: block;
              min-height: unset;
              padding: 12px 0;
            }
          }
        }
      }
    }
    .bt-menu-toggle {
      display: flex;
    }
  }
  .woocommerce-js & {
    .bt-primary-menu .bt-page-menu-wrap > ul {
      flex-wrap: wrap;
      > li > a {
        min-height: 42px;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Elementor Header */
.elementor-location-header {
  position: relative;
  .e-n-menu-content {
    > div.elementor-element {
      @extend .__scrollbar_style;
      max-height: 73vh;
    }
  }
}
.bt-menu-mobile-popup {
  position: fixed !important;
  &.elementor-popup-modal {
    .sub-menu,
    .dialog-message {
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #a2a3ab;
        cursor: pointer;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f1f1f1;
      }
    }
    .sub-menu {
      max-height: 300px;
      overflow-y: auto;
    }
  }
  .elementor-nav-menu {
    a {
      line-height: 1.3 !important;
      background: transparent !important;
      &.has-submenu {
        display: flex;
        justify-content: space-between;
        i,
        svg {
          transition: all 0.3s;
        }
        &.highlighted .sub-arrow {
          i,
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    ul.elementor-nav-menu--dropdown {
      &.sub-menu ul.sub-menu {
        padding-left: 20px;
      }
      a.elementor-sub-item {
        position: relative;
        padding-left: 40px;
        font-family: $text-font !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        color: $color-primary;
        border: none;
        &:before {
          content: "";
          position: absolute;
          top: 21px;
          left: 15px;
          width: 12px;
          height: 1px;
          background: $color-primary;
        }
      }
    }
  }
  .elementor-icon-box-wrapper {
    display: flex !important;
    align-items: center;
    gap: 4px;
    .elementor-icon-box-icon {
      display: flex !important;
      align-items: center;
      margin: 0 !important;
    }
  }
}

/* header fashion */
.bt-header-fashion {
  @media (max-width: $break-lg) and (min-width: $break-tl) {
    > .e-con-inner {
      > .elementor-element {
        &:first-child {
          --e-nav-menu-horizontal-menu-item-margin: calc(15px / 2);
        }
        &:last-child {
          --column-gap: 15px;
        }
      }
    }
  }
}
/* header wellness */
.bt-topbar-wellness {
  @media (max-width: 1570px) and (min-width: $break-tl) {
    > .e-con-inner {
      > .elementor-element {
        &:first-child {
          width: auto;
        }
        &:last-child {
          width: auto;
        }
      }
    }
  }
  @media (max-width: 1399px) and (min-width: $break-tl) {
    > .e-con-inner {
      > .elementor-element {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
/* header Kid fashion */
.bt-topbar-kid-fashion {
  @media (max-width: 1570px) and (min-width: $break-tl) {
    > .e-con-inner {
      > .elementor-element {
        &:first-child {
          width: auto;
        }
        &:last-child {
          width: auto;
        }
      }
    }
  }
  @media (max-width: 1399px) and (min-width: $break-tl) {
    > .e-con-inner {
      > .elementor-element {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
/* header outdoor living */
.bt-topbar-outdoor-living {
  @media (max-width: $break-xs) {
    > .e-con-inner {
      > .elementor-element {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}
.bt-header-outdoor-living {
  .bt-elwg-search-product {
    &.layout-02 {
      .bt-search--form {
        input {
          padding: 8px 0;
        }
      }
    }
  }
}
/* header Aesthetics */
.bt-header-aesthetics {
  .bt-elwg-search-product {
    &.layout-02 {
      .bt-search--form {
        border-color: rgba(255, 255, 255, 0.1);
        input {
          padding: 8px 0;
          color: #fff;
          &::placeholder {
            color: #fff;
          }
        }
        button {
          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }
  }
}
