.__bt-heading-style {
    @media (min-width: 1200px) and (max-width: 1439.98px) {
        font-size: 55px;
    }

    @media (min-width: 1025px) and (max-width: 1199.98px) {
        font-size: 45px;
    }
}

body {
    --width-body: 100%;
}
.elementor-element {
    @media (min-width: 1350px) {
        &.bt-col-container-left {
            padding-left: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
        }
        &.bt-col-container-right {
            padding-right: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
        }
    }
    @media (min-width: 1800px) {
        &.bt-col-container-left-1770 {
            --container-max-width: 1770px;
            padding-left: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
        }
        &.bt-col-container-right-1770 {
            --container-max-width: 1770px;
            padding-right: calc((var(--width-body) + 5px - var(--container-max-width)) / 2);
        }
    }
}

.elementor-element {
    &.bt-tabs-section-product {
        @media (max-width: 370px) {
            --n-tabs-title-font-size: 18px !important;
        }
    }
    &.bt-image-text-sale {
        .elementor-image-box-img {
            flex-grow: 1;
            flex-shrink: 0;
        }
        .elementor-image-box-content {
            .elementor-image-box-title {
                &:hover {
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-skip-ink: auto;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 2px;
                    text-underline-position: from-font;
                    text-decoration-color: var(--color-primary);
                }
            }
        }
        @media (max-width: $break-sm) {
            .elementor-image-box-wrapper {
                display: flex;
                gap: 15px;
                align-items: center;
                text-align: left;
            }
        }
        @media (max-width: 370px) {
            .elementor-image-box-wrapper {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    &.bt-section-hotspot-pet {
        @media (max-width: 1559px) and (min-width: 1367px) {
            .bt-hotspot-product {
                .bt-hotspot-image {
                    img {
                        width: 150% !important;
                        margin-left: -25% !important;
                    }
                }
            }
        }
    }
    &.bt-tabs-combos{
        @media(max-width:1750px) and (min-width:1650px){
            .elementor-widget-button{
                bottom: 150px !important;
            }
        }
        @media(max-width:1650px) and (min-width:1367px){
            .e-n-tabs{
                .e-n-tabs-heading{
                    padding-top: 0 !important;
                }
            }
        }
        @media(max-width:1580px) and (min-width:1367px){
            .elementor-widget-button{
                bottom: 120px !important;
            }
        }
    }
}
