html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  border: 0;
}
body,
html :where(.editor-styles-wrapper) {
  max-width: 100%;
  font-family: $text-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 176%;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: $break-lg) {
    font-size: 16px;
  }
}

*:focus {
  outline: 0;
}
a {
  text-decoration: none;
  text-underline-offset: 4px;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  font-weight: 500;
  line-height: 130%;
  color: $color-primary;
}
h1 {
  font-size: 56px;
  margin: 48px 0 24px;
}
h2 {
  font-size: 44px;
  margin: 48px 0 24px;
}
h3 {
  font-size: 32px;
  margin: 32px 0 16px;
}
h4 {
  font-size: 26px;
  margin: 32px 0 16px;
}
h5 {
  font-size: 22px;
  margin: 24px 0 16px;
}
h6 {
  font-size: 18px;
  margin: 24px 0 16px;
}
ol,
ul {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}
input,
button,
select,
textarea,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  background: #ffffff;
  padding: 9px 16px;
  border-radius: 0;
  border: 1px solid #e9e9e9;
  font-family: $primary-font;
}
select {
  height: 58px;
  width: 100%;
  cursor: pointer;
  padding-right: 35px;
  background-image: url("../images/alt-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
input[type="submit"] {
  @extend .__bt-button-style;
  min-height: 58px;
  cursor: pointer;
}
label {
  display: block;
  margin-bottom: 4px;
}
dl {
  margin: 0 0 32px;
  padding-left: 30px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 16px;
}
sup {
  font-size: 10px;
  vertical-align: super;
}
sub {
  font-size: 10px;
  vertical-align: sub;
}
pre {
  overflow: auto;
  margin: 32px 0;
}
p {
  margin: 16px 0;
  &:empty {
    display: none;
  }
  img.alignnone,
  img.aligncenter {
    margin-bottom: 0;
  }
}
figure {
  margin: 32px 0;
  table {
    margin: 0;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
figcaption,
.wp-block-image figcaption {
  font-size: 14px;
  line-height: 150%;
  margin: 8px 0;
}
footer {
  clear: both;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}
td {
  border-width: 0 1px 1px 0;
}
address {
  font-style: italic;
  margin: 32px 0;
}
big {
  font-size: 125%;
}
code,
kbd,
tt,
var,
samp,
pre {
  -moz-hyphens: none;
  font-family: monospace, serif;
  line-height: 150%;
}
cite,
dfn,
em,
i {
  font-style: italic;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 32px 0;
  width: 100%;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}
td {
  border-width: 0 1px 1px 0;
}
big {
  font-size: 125%;
}
strong {
  font-weight: 500;
}
blockquote {
  font-size: 110%;
  border-left: 8px solid $color-accent !important;
  margin: 32px 0;
  padding-left: 20px;
  &.has-text-align-right {
    border-left: none !important;
    border-right: 8px solid $color-accent !important;
  }
}
.alignfull {
  margin: 32px 0;
}
.alignleft {
  float: left;
  margin: 6px 20px 32px 0;
}
.alignright {
  float: right;
  margin: 6px 0 32px 20px;
}
.aligncenter {
  text-align: center;
  margin: 32px auto;
}
.alignleft,
.full-width .site-content .alignleft {
  clear: left;
}
.alignright,
.full-width .site-content .alignright {
  clear: right;
}
.center {
  text-align: center;
}
.center th,
.center tr,
.center td {
  text-align: center;
}
.wp-block-image {
  margin: 32px 0;
}
.wp-block-gallery {
  margin: 32px 0;
  .blocks-gallery-item {
    padding: 0;
  }
}
.wp-block-gallery.alignleft {
  float: left;
  margin: 6px 20px 32px 0;
}
.wp-block-gallery.alignright {
  float: right;
  margin: 6px 0 32px 20px;
}
.wp-block-gallery.aligncenter {
  text-align: center;
  margin: 32px auto;
}
.wp-block-button {
  margin: 32px 0;
}
.wp-block-button.alignleft {
  margin: 6px 20px 32px 0;
}
.wp-block-button.alignright {
  margin: 6px 0 32px 20px;
}
.wp-block-button.aligncenter {
  text-align: center;
  margin: 32px auto;
}
.wp-element-button:hover,
.wp-block-file__button:hover,
.wp-block-button a:hover {
  color: #ffffff;
}
.wp-block-button.is-style-outline a:hover {
  color: inherit;
}
.wp-block-button.is-style-squared a {
  border-radius: 0;
}
.wp-block-button__link,
.wp-block-file__button {
  text-decoration: none !important;
}
.wp-block-cover {
  color: #ffffff;
}
body .monster-widget-just-testing option {
  width: 340px;
}
iframe,
embed {
  width: 100%;
  height: auto;
  &.twitter-tweet {
    width: 100% !important;
    min-height: unset;
  }
}

.wp-block-embed .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#html5box-html5-lightbox iframe {
  height: 100%;
}
.post_format-post-format-video iframe {
  height: 460px;
  @media (max-width: 639px) {
    height: 280px;
  }
}
table {
  border-radius: 2px;
}
td,
th {
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
img.size-full {
  display: block;
  margin: 32px 0;
}
img.aligncenter {
  margin: 32px auto;
}
img.alignnone {
  margin: 32px auto;
}
img.alignleft {
  margin: 12px 20px 32px 0;
}
img.alignright {
  margin: 12px 0 32px 20px;
}
.wp-caption img {
  margin: 0;
}
.wp-caption {
  margin: 32px auto;
}
.wp-caption.alignleft {
  margin: 12px 20px 32px 0;
}
.wp-caption.alignright {
  margin: 12px 0 32px 20px;
}
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
  max-width: 100%;
  height: auto;
}
.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  font-style: italic;
  margin: 8px 0 0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.page-links {
  display: flex;
  align-items: center;
  margin: 25px 0;
  clear: both;
}
.page-links .post-page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 42px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none !important;
  color: $color-primary;
  background: transparent;
  border-radius: 10px;
}
.page-links .post-page-numbers:first-child {
  margin-left: 10px;
}
.page-links .post-page-numbers.current {
  width: 42px;
  color: #ffffff;
  background: $color-accent;
}
.page-links a:hover {
  color: $color-accent;
}
.post-password-form input[type="password"] {
  display: block;
  margin-top: 4px;
}
.post-password-form input[type="submit"] {
  margin-top: 20px;
}
.gallery {
  margin-bottom: 15px;
  margin-right: -15px;
  &.gallery-columns-2 .gallery-item {
    width: calc(50% - 15px);
  }
  &.gallery-columns-3 .gallery-item {
    width: calc(33.33% - 15px);
  }
  &.gallery-columns-4 .gallery-item {
    width: calc(25% - 15px);
  }
  &.gallery-columns-5 .gallery-item {
    width: calc(20% - 15px);
  }
  &.gallery-columns-6 .gallery-item {
    width: calc(16.67% - 15px);
  }
  &.gallery-columns-7 .gallery-item {
    width: calc(14.28% - 15px);
  }
  &.gallery-columns-8 .gallery-item {
    width: calc(12.5% - 15px);
  }
  &.gallery-columns-9 .gallery-item {
    width: calc(11.11% - 15px);
  }
  .gallery-item {
    overflow: hidden;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}
.gallery-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
  position: relative;
  img {
    width: 100%;
  }
}

.gallery-item > .gallery-icon {
  display: inline-block;
  line-height: 0;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  left: 0;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  text-align: left;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
}
.clearfix {
  clear: both;
}
.more-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bypostauthor {
  line-height: 24px;
}
.sticky .posted-on {
  display: none;
}
.wp-block-columns {
  gap: 30px;
}
.wp-block-pullquote {
  font-size: inherit;
  text-align: left;
  margin: 32px 0;
  padding: 0;
}
.wp-block-pullquote blockquote {
  margin-top: 0;
  margin-bottom: 0;
}
.wp-block-group,
.wp-block-columns,
.wp-block-media-text {
  margin: 32px 0;
}
.has-background {
  padding: 30px;
}
.wp-block-quote.is-large:where(:not(.is-style-plain)),
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) {
  margin: 32px 0;
  padding-left: 20px;
  padding-right: 0;
}
.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wp-block-cover {
  margin-top: 32px;
  margin-bottom: 32px;
}
