.elementor-panel .elementor-element .icon .bt-bears-icon:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/bears-icon.png');
    background-size: cover;
}
.elementor-panel .elementor-element .title {
    line-height: 1.25;
    padding: 0 10px;
}