/* Error: The target selector was not found.
 * Use "@extend .__bt-product-item-minimal !optional" to avoid this error.
 *      ,
 * 3020 |         @extend .__bt-product-item-minimal;
 *      |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *      '
 *   woozio/assets/sass/_shop.scss 3020:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .__bt-product-item-minimal !optional" to avoid this error.\a      \2577 \a 3020 \2502          @extend .__bt-product-item-minimal;\a      \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a      \2575 \a   woozio/assets/sass/_shop.scss 3020:9  root stylesheet';
}
